body	{	width: 100%;
				font-family: 'Eczar', serif;
				text-decoration: none;
				text-align: left;
				margin: 0;
				padding: 0;
				overflow-x: hidden;
				float: none;
				padding-bottom: 20%;	}

h1		{	background-image: linear-gradient(to right, white, green);
				color: #000;
				font-size: 1.5em;
				margin-top: 30px;
				padding: 5px;	}

h2		{	font-size: 1.5em;	}

header {	background-color: #fff;
					text-align: center;
					font-family: 'Slabo 27px', serif;
				 	position: fixed;
					top: 0;
					width: 100%;	}

ul	{	font-family: 'Merriweather', serif;
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #000;	}

li	{	display: inline-block;	}

li a	{ display: block;
				color: #fff;
				text-align: center;
				padding: 5px;
				text-decoration: none;	}

li a:hover	{	background-color: #fff;
							color: #000;	}

div		{	padding: 5px;	}

footer {	width: 100%;
					position: fixed;
					bottom: 0;
					font-size: 0.75em;
					background-color: #000;
					text-align: center;	}

footer img {	background-color: #fff;
							padding: 3px;
							width: 20px;
							height: 20px;
							margin: 0 5px;
							border-radius: 5px;	}

#logo	{	width: 100%;	}

#studio	{	width: 100%;
					margin: 0;
					padding-top: 20%;	}

#map	{	text-align: center;
				padding: 5%;	}

.radio	{	font-family: 'Slabo 27px', serif;
					text-align: center;
					font-weight: bold;
					font-size: 1.5em;
					margin: 20px;
					padding: 30px 20px;
					border-radius: 3px;
					max-width: 300px;	}

.radio	a	{	text-decoration: none;
						color: #fff;	}

#WSON		{	background-image: radial-gradient(#fa2d45, #960012);	}
#WMSK		{	background-image: radial-gradient(#4b94fa, #0244a1);	}

/****** RESPONSIVE *******/
@media screen and (min-width: 480px) {

h1		{	background-image: linear-gradient(to right, white, green, blue);	}

header	li	{	float: right;
							margin: 0;
							padding: 5px;	}

iframe	{	float: right;
					width: 400px;
					height: 300px;	}

#logo	{	float: left;
				width: 50%;	}

#radio	img	{ height: 150px;	}
#radio	li	a	{	list-style-type: none;
								width: 150px;	}	}

@media screen and (min-width: 760px) {

}
